<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843665882214-hd739mlfa0trvonebip5in8jn6982tgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843665882214-hd739mlfa0trvonebip5in8jn6982tgf</string>
	<key>API_KEY</key>
	<string>AIzaSyB4--ZU5ZWYM3-1joXz6egjDc5MPfBqU_8</string>
	<key>GCM_SENDER_ID</key>
	<string>843665882214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.happyeat</string>
	<key>PROJECT_ID</key>
	<string>happyeat-d2f8d</string>
	<key>STORAGE_BUCKET</key>
	<string>happyeat-d2f8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843665882214:ios:000077708187589222c1a7</string>
</dict>
</plist>